<%= javascript_include_tag 'jobs' %>
<h3>Currently available jobs:</h3>
<table id="jobsTable">
  <tr>
    <th>Title</th>
    <th>City</th>
    <th>State</th>
    <th>Description</th>
    <th>Salary</th>
  </tr>
</table><br>

<h3>Add new job listing:</h3>
<%= render partial: 'form' %>