<%= javascript_include_tag 'job' %>
<div id="title">
  
</div>
<div id="city">
  
</div>
<div id="state">
  
</div>
<div id="description">
  
</div><br>

<button type="button" class="btn btn-primary" id="edit-job">Edit Job</button>

<div id="edit-div"></div>