<%= javascript_include_tag 'job' %>

<b>Title:</b> 
<div id="title">
</div><br>

<b>City</b>
<div id="city">
</div><br>

<b>State:</b>
<div id="state">
  State: 
</div><br>

<b>Description:</b>
<div id="description">
  Description: 
</div><br>

<b>Salary:</b>
<div id="salary">
  Salary:
</div><br>

<button type="button" class="btn btn-primary" id="edit-job-button">Edit Job</button><br>

<div id="edit-job">
  <%= render partial: 'form' %>
</div>