<%= javascript_include_tag 'job' %>
<div id="title">
  
</div>
<div id="city">
  
</div>
<div id="state">
  
</div>
<div id="description">
  
</div><br>

<button type="button" class="btn btn-primary" id="edit-job-button">Edit Job</button><br>

<div id="edit-job">
  <%= render partial: 'form' %>
</div>