<div class="background">
  <a href = "/users/sign_in" role="button" class="btn btn-primary btn-lg btn-block">Sign In with Facebook</a>
  <a href = "/users/sign_up" role="button" class="btn btn-primary btn-lg btn-block">Sign Up with Facebook</a>

</div>
