div #title-container {
    height: 200px;
    width: 400px;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Sigmar One', cursive;
    font-size: 250%;
    text-align: center;
}

.workphoto {
  z-index: -1;
}