<!DOCTYPE html>
<html>
<head>
  <title>JobTrackerV000</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <a href="/companies" class="btn btn-default navbar-btn">Companies</a>
  <a href="/jobs" class="btn btn-default navbar-btn">Jobs</a>
</nav>

<%= yield %>

</body>
</html>
